
    <title>This is the blog index</title>

<body id='background'>

  <h3>All Blogs</h3>
<center>
  <div class="" style="">

    <% @blogs.each do |blog| %>
    <div class="main_blog">
      <p class="blog_title">
        <a href="/blogs/<%=blog.id%>"><%= blog.title %></a>
      </p>
      <p>
        <%= blog.body %>
      </p>

      <p class="time_submitted">
         <%=blog.submitted%> <%= time_ago_in_words(blog.created_at) %> ago.
      <p>
    </div>
    <% end %>

  </div>
</center>

</body>
