<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <div class="blog_full">

      <h4><%= @blog.title %></4>

      <p class="blog_body"> <%= @blog.body %> </li>

      <div class="time_submitted">
        <p class="home_links"> <%=@blog.submitted%> <%= time_ago_in_words(@blog.created_at)%> ago. </p>
        <p class="home_links"><a href="/blogs/<%=@blog.id%>/edit">Edit</a></p>
        <p class="home_links"> <%= link_to 'Destroy', [@blog],
        method: :delete,
        class: 'button',
        data: { confirm: 'Are you sure?' } %> </p>
      </div>


  </div>

  <br>
  <% if @errors %>
    <% @errors.each do |error| %>
    <ul>
      <li><%= error %> </li>
    </ul>
    <% end %>
  <% end %>

  </body>
</html>
