<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="one_blog">
    <ul class='no_dot_list'>
      <li><h4><%= @blog.title %></4> </li>
      <li class="blog_body"> <%= @blog.body %> </li>
      <li><a href="/blogs/<%=@blog.id%>/edit">Edit</a></li>
      <li class="time_submitted"><%=@blog.submitted%> <%= time_ago_in_words(@blog.created_at)%> ago.</li>
    </ul>
    <p> <%= link_to 'Destroy', [@blog],
                      method: :delete,
                      class: 'button',
                      data: { confirm: 'Are you sure?' } %> </p>
  </div>
  <% if @errors %>
    <% @errors.each do |error| %>
    <ul>
      <li><%= error %> </li>
    </ul>
    <% end %>
  <% end %>
  </body>
</html>
